@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Noto+Sans+JP:100,300,400,700,900&display=swap);

*, ::before, ::after {
    box-sizing: border-box;
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: normal;
	color: #707070;
}
body {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background-color: #1AA2AC;
}
html, body {
  height: 100vh;
}
section {
	position: relative;
	height: 100vh;
}
section::after {
	position: absolute;
	bottom: 0;
	left: 0;
}
.main-page,
.bio-page,
.portofolio-page,
.skills-page,
.contact-info {
	height: 100vh;
}
.line-up, 
.line-down {
	position: absolute;
    width: 450px;
    left: calc(50% - 75px - 150px);
}
.line-up {
    top: calc(50% - 75px - 150px);
}
.line-down {
    top: calc(50% + 75px);
}
.box {
	width: 150px;
	height: 150px;
	border-radius: 32px;
	background-color: #70D6DE;
    box-shadow: 0 0 10px;
}
.bio-box,
.contact-box {
	position: relative;
    float: left;
}
.portofolio-box,
.skills-box {
	position: relative;
    float: right;
}
.box a,
.circle-text {
	position: relative;
    top: 0;
    display: block;
    text-align: center;
    line-height: 34px;
	font-weight: bold;
    text-decoration: none;
    padding: calc(50% - 17px) 0;
}
.circle-text {
    cursor: default; 
}
.title-container {
	position: absolute;
    width: 400px;
    top: calc(50% - 65px);
    left: calc(50% - 400px/2);
}
.title {
	position: relative;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 30px;
    letter-spacing: 5px;
    color: #F9F1F1;
}
.sub-title {
	position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
}
.location-container {
    position: relative;
    display: block;
    background-color: rgba(21, 113, 120, 0.6);
    border-radius: 30px;
    left: calc(50% - 85px);
    margin: 10px 0;
    width: 170px;
    height: 38px;
}
.location-container img {
	width: 38px;
    border-radius: 50% 0 50% 50%;
}
.location {
    position: relative;
    display: inline-block;
    color: #E97BAB;
    margin-left: 10px;
    font-family: cursive;
    line-height: 38px;
    vertical-align: top;
}
.box:hover {
	background-color: #70d6de96;
	cursor: pointer;
	margin-top: 2px;
}
.social-media {
	position: fixed;
    top: calc(50% - 136px/2);
    right: 3%;
    width: 48px;
    height: 136px;
}
.facebook,
.github,
.linkedIn,
.stackOverflow {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px;
    border-radius: 50%;
    border-style: solid;
    border-color: #1AA2AC;
}
.social img {
	width: 2em;
	height: 2em;
    margin: 2px;
}
.social:hover {
    border-color: white;
    cursor: pointer;
}
.circle {
	position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 3%;
    background-color: #70D6DE;
}
.bio-circle,
.portofolio-circle,
.skills-circle {
	top: calc(50% - 50px);
}

	/*----------- Bio Page -----------*/
.notes-container {
	position: absolute;
    top: calc(40% - 150px);
    left: calc(50% - 300px);
    width: 600px;
    height: calc(20% + 300px);
    max-height: 600px;
    background-image: url('docs/images/wood.jpg');
    background-size: 120%;
    border-radius: 56px 10px 10px 10px;
    padding: 12px;
}
.notes-header {
	position: relative;
	left: 12px;
}
.mini-bio {
	position: relative;
    text-decoration-line: underline;
    top: 8px;
    font-weight: 400;
    color: #F3D8D8;
}
.notes-title {
    color: #F3D8D8;
    margin: 10px 0;
}
.notes-text {
    position: relative;
    background: #f3d8d8a3;
    width: fit-content;
    height: calc(100% - 120px);
    max-height: 600px;
    overflow: auto;
    padding: 0 12px;
	border-radius: 24px 5px 5px 5px;
}
.notes-text p {
	color: black;
	font-size: 14px;
    font-weight: 300;
}
.resume {
	position: relative;
	display: block;
    float: right;
    border-radius: 42px;
    padding: 6px 30px;
    background: rgba(112, 214, 222, 0.7);
    color: #214043;
    margin-top: 12px;
    margin-right: 12px;
    font-weight: bold;
    cursor: pointer;
}
.resume img {
	display: inline-block;
	width: 16px;
    margin-left: 8px;
}
.resume:hover {
	background: rgba(112, 214, 222);
}

	/*----------- Portofolio Page -----------*/
.projects-container {
	position: absolute;
    left: calc(50% - (600px + 6vw)/2);
	top: calc(50% - 228px/2 - 30px);
}
table {
	-webkit-border-horizontal-spacing: 2vw;
}
th {
	font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: black;
    padding: 8px 0;
}
td {
	border-radius: 8px;
    color: #F3D8D8;
    width: 200px;
    height: 40px;
    font-size: 12px;
    padding: 2px 4px;
}
.projects {
    background: rgba(53, 10, 139, 0.8);
}
.languages {
    background: rgba(53, 10, 139, 0.6);
}
.link {
    background: rgba(53, 10, 139, 0.4);
}
.quiz-link {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}
.quiz-link a,
.quiz-link i {
	color: inherit;
}
.quiz-link i:hover {
	text-decoration: underline;
	cursor: pointer;
	color: white;
}
.portofolio-media {
	position: absolute;
    width: 360px;
	top: calc(50% + 228px/2);
    left: calc(50% - 180px + 20px);
}
.portofolio-git,
.portofolio-stack {
	position: relative;
	display: block;
    width: 180px;
    text-align: center;
}
.portofolio-git {
	float: left;
    text-align: right;
    right: 50px;
}
.portofolio-stack {
	float: right;
    text-align: left;
    left: 50px;
}
.portofolio-media a {
	display: inline-block;
	color: white;
	line-height: 48px;
    vertical-align: top;
}
	/*----------- Skills Page -----------*/
.world-container {
	position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 100px);
}
.world-container img {
	width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 8px -4px 10px 0px;
}
.lan {
	width: 50px;
    height: 20px;
    position: fixed;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    animation: spinoffPulse1 20s infinite linear;
}
.js {
  top: calc(50% - 10px);
  left: calc(0% - 25px);
}
.java {
  top: calc(100% - 10px);
  left: calc(50% - 25px);
}
.html {
    top: calc(50% - 10px);
    left: calc(100% - 25px);
}
.css {
  top: calc(0% - 10px);
  left: calc(50% - 25px);
}
.ring {
  	position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spinoffPulse 20s infinite linear;
}
.contain-ring {
	position: absolute;
    border: solid black;
    border-width: 2px 2px 0 2px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: -5px;
    transform: rotateX(233deg) rotateY(163deg);
}
@keyframes spinoffPulse {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(360deg); }
}
@keyframes spinoffPulse1 {
    0% { transform:rotate(505deg); }
    100% { transform:rotate(145deg); }
}
.ring:hover {
  animation-play-state: paused;
}
.skills-container {
	position: absolute;
    display: block;
    width: 500px;
    top: calc(50% + 50px);
    left: calc(50% - 250px);
}
.skills-soft,
.skills-dynamic {
	position: relative;
	display: inline-block;
	border-radius: 21px;
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
}
.skills-soft{
	float: left;
}
.skills-dynamic {
	float: right;
}
.skills-text li {
    color: #214043;
    font-size: 14px;
    font-weight: 900;
}
	/*----------- Skills Page -----------*/
.modal {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    outline: 0;
    opacity: 1;
    background: rgba(3, 3, 3, 0.5);
}
.modal-email {
 	position: relative;
    top: calc(50% - 215px);
    margin: 30px auto;
    width: 380px;
}
.modal-content {
    position: relative;
    width: 380px;
    height: 380px;
    background-color: #CCC99C;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    background: inherit;
    border: 2px solid;
    border-radius: 50%;
    align-items: center;
}
.close:hover {
	background: #7070703d;
    color: black;
}
.modal-body {
	position: relative;
    top: 50px;
    bottom: 50px;
    margin: 20px;
}
.modal-info {
	font-weight: 600;
    margin: 2em 0;
}
.modal-info a {
    position: relative;
    display: inline-block;
    left: 16px;
    font-weight: inherit;
}
.modal-footer {
	position: absolute;
    bottom: 2em;
    text-align: center;
    width: 100%;
    color: black;
    padding: 1em;
}

@media screen and (max-width: 900px) {
	.line-up {
	    top: calc(50% - 75px - 100px);
	}
	.line-up,
	.line-down {
		width: 300px;
    	left: calc(50% - 50px - 100px);
	}
	.box {
		width: 100px;
	    height: 100px;
	    border-radius: 20px;
	}
	.title-container {
		width: 300px;
		top: calc(50% - 50px);
	   	left: calc(50% - 300px/2);
	}
	.title {
		font-size: 20px;
		letter-spacing: 3px;
	}
	.sub-title {
		font-size: 16px;
	}
	.social-media {
		position: absolute;
	    right: 0;
	    margin-right: -8px;
	}
	.circle {
		top: 0;
    	left: calc(50% - 50px);
    }
	.notes-container {
        position: absolute;
	    top: 125px;
	    left: 0;
	    width: 100%;
	    height: calc(100% - 150px);
	    max-height: 450px;
	}
	.notes-text {
		position: absolute;
	    bottom: 44px;
	    top: 75px;
	    left: 0;
	    margin: 0 10px;
	}
	.resume {
		position: absolute;
	    bottom: 4px;
	    right: 0;
	    float: none;
    }
    .projects-container {
		top: 100px;
    }
}
@media screen and (max-width: 600px) {
	.projects-container {
    	left: calc(50% - 214px/2);
		top: calc(50% - 168px/2 - 50px);
    }
    .t-hide {
    	display: none;
    }
    .portofolio-media {
	    width: auto;
	    left: calc(50% - 180px/2);
	}
	.portofolio-git {
	    text-align: left;
	    right: unset;
	}
	.portofolio-stack {
	    float: left;
	    text-align: left;
	    left: unset;
	}
}
@media screen and (max-width: 900px), (max-height: 600px) {
	.world-container {
		top: calc(50% - 100px);
	    left: calc(50% - 50px);
	}
	.world-container img {
	    width: 100px;
	    height: 100px;
	}
	.contain-ring {
	    width: 100px;
	    height: 100px;
	    top: calc(50% - 75px);
	    left: calc(50% - 75px);
	    width: 150px;
	    height: 150px;
	}
	.skills-container {
	    width: 320px;
	    left: calc(50% - 160px);
	}
	.skills-soft, .skills-dynamic {
    	border-radius: 10px;
	    width: 150px;
	    height: 150px;
	}
	.skills-text li {
	    margin-left: -14px;
	}
}
