@charset "UTF-8";

body {
	background-color: #80ffff;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container {
	background-color: #ffffff;
    width: 600px;
    max-width: 80%;
    border-radius: 6px;
    box-shadow: 0 0 10px;
    padding: 10px;
}
*, *::before, *::after {
	box-sizing: border-box;
	font-family: Sans-serif;
    font-size: 1.2rem;
}
.btn {
    border: 2px solid #28121269;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    outline: none;
}
.btn:hover:enabled{
	border-color: black;
	background: #b9bdff;
	color: #400080;
}
.container-answers {
	display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 2px;
}
.answer-btn {
	background-color: #4c8acf;
}
.active {
	background: #b9bdff;
}	
.next-btn {
	background-color: #193f6a;
	float: right;
	border-radius: 2px;
}
.btn:active {
  	transform: translateY(2px);
}
.answer-btn.color {
	background-color: green
}
.message {
	font-size: 0.5em;
	text-align: center;
	font-weight: bold;
}
.question-number {
	font-size: 16px;
    font-weight: 800;
}